# Node
node_modules/
build/
dist/
.env
.DS_Store

rag_old/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
Thumbs.db
Desktop.ini

# VSCode
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Django
*.sqlite3
db.sqlite3
/staticfiles/
/media/

# Test
coverage/

# Misc
*.swp
.idea/
/webapp/.next
/webapp/app/generated
webapp/prisma/schema.prisma